*{
    padding: 0;
    margin: 0;
}
/* Change the font to some epic looking theme */
.head{
    font-size: 170px;
    color: rgb(145, 193, 33);
    text-align: center;
    text-justify: center center;
    font-style: italic;
    position: relative;
    width: 100vw;
    height: 80vh;
}

body{
    background-color: rgb(233,244,133);
    img{
        height: 100%;
        width: 100%;
        filter: blur(0.7px);
        z-index: -1;
        position: fixed;
        overflow: hidden;
        margin: 0;
        padding: 0;
}
}
nav{
    background-color: rgb(67, 60, 77);
    font-style: italic;
    z-index: 20;
    color: white;
    font-size: 20px;
    width: 100vw;
}
ul{
    display: flex;
    justify-content: space-around;

}
ul li{
    list-style: none;
    padding: 20px;
}
.dashboard{
    background-image: url(assets/images/4htr9dyecy411.png);
    height: 85vh;
    background-size: cover;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    
}
.box{
    background-image: url(assets/images/download.jpg);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 50px;

}