*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
:root{
    --bgcolor: red;
    --color: white;
    font-size: 20px;
    font-weight: 600;
    
}
.dark-theme{
    --bgcolor: rgb(204, 0, 255);
    --color: black;
}
input{
    border-radius: 6px;
}
body{
    background-color: var(--bgcolor);
    color: var(--color);
}