body{
    background-color: var(--bgcolor);
}
:root{
    --bgcolor:rgb(170, 139, 3);
}
.dark-theme{
    --bgcolor:rgba(107, 87, 1, 0.979);
}
*{
    color: rgb(255, 245, 210);
    padding: 0;
    font-family: 'Crimes Times Six';
}
.up{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#map {
    height: 10vh;
    width: 10vw;
    background-color: var(--bgcolor);
    border: 5px solid black;
}
.map{
    font-size: 25px;
    margin-top: 40px;
}
.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-size: 45px;
}
.welcome{
    font-size: 20px;
    font-style: italic;
    padding-top: 20vh;
}
input{
    font-family: sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
.save{
    color: #10188db2;
    display: flex;
    justify-content: center;
    button{
        padding: 30px;
        font-size: 20px;
        margin-top: 50px;
        border-radius: 15px;
        background-color: rgba(32,55,67,0.6);
        font-weight: 700;
        color: rgb(249, 241, 208);
    }
}