.hidden{
    display: none;
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25vh;
  }
  :root{
    --bgcolor:rgb(170,139,3);
    --text:black;
    --option_color:rgb(241,229,170);
    --option_text:rgb(54,36,7);
  }
  .dark-theme{
    --bgcolor:rgba(107,87,1,0.979);
    --text:white;
    --option_color:rgb(255,255,255);
    --option_text:rgb(26,26,0);
  }
  select{
    background-color: var(--option_color);
    color: var(--option_text);
  }
  tr td{
    color: var(--text);
  }
  h1{
    margin:50px;
  }
  button{
    margin: 50px;
  }
  label{
    margin-right: 15px;
  }
  body{
    background-color: var(--bgcolor);
    color: var(--text);
  }