*{
    padding: 0;
    margin: 0;
    font-family: 'Crimes Times Six';
}
.company{
    letter-spacing: normal;
    font-size: 11px;
}
#icon{
    width: 30px;
    cursor: pointer;
}
p{
    font-family: 'algerian';
    font-size: 15px;
    letter-spacing: normal;
} 
:root {
    --dark_mode_body: rgba(255, 145, 0, 0.751);
    --dark_mode_body2: rgba(232, 220, 220, 0.832);
    --dark_mode_text: rgba(0, 3, 43, 0.913);
}
.light-theme{
    --dark_mode_body:  rgba(255, 145, 0, 0.753);
    --dark_mode_body2: rgba(39, 34, 34, 0.832);
    --dark_mode_text: #dad1d1;

}
.boxes{
    display: flex;
    letter-spacing: 25px;
    font-style: italic;
}
.box1{
    background-color: var(--dark_mode_body);
    color: var(--dark_mode_text);
    width: 70vw;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box2{
    background-color: var(--dark_mode_body2);
    width: 30vw;
    color: var(--dark_mode_text);
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    padding: 6%;
}

.login{
    font-size: 30px;
    letter-spacing: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50%;
}
.btns{
    border: none;
    border-radius: 3px;
    font-size: 22px;
    padding: 20%;
    margin: 20%;
    color: var(--dark_mode_text);
    background-color: var(--dark_mode_body);
}
.ls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}