{% extends "layout.html" %}

{% block title %}Change Email{% endblock %}
{% block css %} <link rel="stylesheet" href="../static/css/change.css">{% endblock %}
{% block js %}{% endblock %}

{% block body %}
<div class="main">
  <form action="/changeEmail" method="post">
    <div>
        <label for="newEmail">Enter new email address:</label>
        <input type="email" id="newEmail" name="newEmail" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="confirmP">Confirm Password:</label>
      <input type="password" id="confirmP" name="confirmP" required>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

<script>
  function validate() {
    password = document.getElementById('password').value;
    confirmP = document.getElementById('confirmP').value;

    if (password != confirmP) {
      alert("Password and confirmed password don't match")
      return false;
    }

    return true;
  }
</script>
{% endblock %}