{% extends "layout.html" %}

{% block title %}Clue Organizer{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/clue.css">{% endblock %}
{% block js %}<script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>{% endblock %}

{% block body %}
    <form action="/clue" method="post">
        <div class="date">
            <div class="welcome font">Welcome Mr. Holmes,
            </div>
            <div class="dateIn">
                <div>Select the date: </div>
                <div>
                    <input type="date" id="date" name="date">
                </div>
            </div>
        </div>
        <div class="heading">Write your clues here: </div>
        <!-- category selection -->
        <p>Choose from the following categories:</p>
        <select id="clue" name="category">
            <option value="person">Person</option>
            <option value="photo">Photo</option>
            <option value="video">Video</option>
            <option value="footprints">Footprints</option>
            <option value="object">Object</option>
        </select>
        <div class="texteditor">
            <textarea name="description" id="editor" cols="30" rows="10"></textarea>
        </div>
        <div class="save">
            <div class="btn">
                <button type="submit">Add to my clue log</button>
            </div>
        </div>
    </form>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        var icon = document.getElementById("icon");

        icon.onclick = function () {
            document.body.classList.toggle("dark-theme");

            // Access the image inside the icon div
            var img = icon.querySelector('img');

            // Check if body has light-theme class
            if (document.body.classList.contains("dark-theme")) {
                img.src = "../static/images/light_mode.svg"; // Change the source to light mode image
            } else {
                img.src = "../static/images/dark_light_switch.svg"; // Change the source to dark mode image
            }
        }
    </script>
{% endblock %}