<!DOCTYPE html>
<html lang="en">

<head>
    <!-- help support -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The-Mind-Map</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="script.js"></script>
    <meta name="description" content="This is a The-Mind-Map to help Sherlock Holmes organize his clues">
</head>

<body>
    <nav>
        <ul>
            <!-- change these names to some epic unique names -->
            <li><a href="#clue">Clue Organizer</a></li>
            <li><a href="#ppl">People Tracker</a></li>
            <li><a href="#timeline">Timeline</a></li>
            <li><a href="#search">Search</a></li>
            <li><a href="#profile">Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
            <li>
                <div class="switch" id="icon">
                    <img src="../static/images/dark_light_switch.svg" alt="">
                </div>
            </li>
        </ul>
    </nav>
    <div class="main">

        <section id="clue">
            <div class="desc">
                <div class="heading">
                    Clue Organizer
                </div>
                <div class="description">
                    Ready to get organized? Let's start!
                    <div class="btn">
                        <form action="/clue" method="get">
                            <button>Click Here!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="img">
                <img src="../static/images/clue organizer.webp">
            </div>
        </section>
        <div class="separator">
        </div>

        <section id="ppl">
            <div class="img">
                <img src="../static/images/ppl.jpg">
            </div>
            <div class="desc">
                <div class="heading">
                    People Tracker
                </div>
                <div class="description">
                    Yahan Kuch sexy sa description daal do
                    <div class="btn">
                        <form action="/people" method="get">
                            <button>Click Here!</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="separator">
        </div>

        <section id="timeline">
            <div class="desc">
                <div class="heading">
                    Timeline
                </div>
                <div class="description">
                    Yahan Kuch sexy sa description daal do
                    <div class="btn">
                        <form action="/timeline" method="get">
                            <button>Click Here!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="img">
                <img src="../static/images/ppl.jpg">
            </div>
        </section>
        <div class="separator">
        </div>

        <section id="search">
            <div class="img">
                <img src="../static/images/ppl.jpg">
            </div>
            <div class="desc">
                <div class="heading">
                    Search
                </div>
                <div class="description">
                    Yahan Kuch sexy sa description daal do
                    <div class="btn">
                        <form action="/search" method="get">
                            <button>Click Here!</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="separator">
        </div>

        <section id="profile">
            <div class="desc">
                <div class="heading">
                    Profile
                </div>
                <div class="description">
                    Yahan Kuch sexy sa description daal do
                    <div class="btn">
                        <form action="/profile" method="get">
                            <button>Click Here!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="img">
                <img src="../static/images/ppl.jpg">
            </div>
        </section>
    </div>

    <script>
        var icon = document.getElementById("icon");

        icon.onclick = function () {
            document.body.classList.toggle("dark-theme");

            // Access the image inside the icon div
            var img = icon.querySelector('img');

            // Check if body has light-theme class
            if (document.body.classList.contains("dark-theme")) {
                img.src = "../static/images/light_mode.svg"; // Change the source to light mode image
            } else {
                img.src = "../static/images/dark_light_switch.svg"; // Change the source to dark mode image
            }
        }

    </script>
</body>

</html>