<!-- New Idea: GPS Tracker -->
<!-- map loaction marker -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is like a contact log">
    <link rel="stylesheet" href="../static/css/ppl.css">
    <script src="ppl.js"></script>
    <title>People Tracker</title>
</head>
<body>
    <div class="welcome">So, who did you meet today Mr. Holmes?</div>
    <form id="People Tracker">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" required>
        <label for="Profession">Profession: </label>
        <input type="text" id="Profession" name="Profession" required>
        <label for="Details">Details: </label>
        <input type="text" id="Details" name="Details" required>
    </form>
    </div>
    <div class="save">
        <button>Add to my people log</button>
    </div>
</body>
</html>