{% extends "layout.html" %}

{% block title %}Edit Your Profile{% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/profile.css">{% endblock %}
{% block js %}<script src="../static/javascript/profile.js"></script>{% endblock %}

{% block body %}
  <div class="hero">
    <div class="switch" id="icon">
      <img src="../static/images/dark_light_switch.svg" alt="">
    </div>
    
    <div class="main">
      <div class="photo">
        <img src="../static/images/profile photo.jpg" alt="No photo uploaded">
        <!-- <button><a href="/editProfilePic">Edit Profile Picture</a></button> -->
      </div>
      <div class="info">
        <h1>Welcome, {{username}}</h1>
        <div class="separator"></div>
        <div class="section">
          <h3>
            Change your Username
          </h3>
          <p>Your username is: {{username}} </p>
          <button><a href="/changeUsername">Change Username</a></button>
        </div>
        <div class="separator"></div>
        <div class="section">
          <h3>
            Change your Email
          </h3>
          <p>Your current email id is: {{ email }}</p>
          <button><a href="/changeEmail">Change Email</a></button>
        </div>
        <div class="separator"></div>
        <div class="section">
          <h3>
            Change Password
          </h3>
          <p>Click the button below to change password</p>
          <button><a href="changePassword">Change Password</a></button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}